# Binary File
*.nds
*.NDS
*.cia
*.elf
*.arm7
*.arm9
*.DS_Store
*soundbank*.bin
*.bak
*.*.mptm
*.*.*.mptm
*.*.xm
*.*.*.xm
thumbs.db

# Build Directory
build/
data/

# Project Files
.idea/
.vscode/
ipch/